{{extend 'layout.html'}}

<div class="container offset4">
  <div class="center span4 well">
    <h1>Calcula el Dígito verificador de un RUT</h1>

    <p class="lead">Escribe los dígitos del RUT en la siguiente casilla y te mostraremos su Dígito Verificador.</p>
    
    <input type="text" name="rut_data" id="rut_data" placeholder="Aquí los dígitos..."  
           class="input-big integer" size="8" maxlength="8"
           onchange="ajax('{{=URL(r=request,
           c='default',f='dv')}}',['rut_data'],'rut_dv');" /> &minus;
    
    <span id="rut_dv" class="badge badge-success" style="font-size:2em;">?</span>
    <div class="help-inline">Sólo dígitos, sin puntos.</div>
  </div>
</div>
